$grey: #6CFF6C; 
$blue: #0243b3;

#album-index{

  padding: 0px 50px;
  ul {
    list-style-type: none;
    li{
      margin-bottom: 10px;
    }
  }
  i{
    margin-right: 10px;
    vertical-align: middle;
    background-image: linear-gradient(120deg, #c8fcdc 0%, $grey 100%);
    padding: 4px;
    border-radius: 50px;
  }
}

 #album-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  a{
    text-decoration: none;
  }
 }

.album-card{
  img{
    width: 100%;
  }
}