

@media screen and (min-width: 800px) {
  .home-header{
    padding: 50px;
    position: relative;
    height: 500px;
  
    .carroussel-item{
      opacity: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 50px;
    }
  
    .active {
      opacity: 1!important;
    }
  
    .right-header{
      img{
            height:300px;
      }
    }
  
    .left-header{
      margin-right: 50px;
      text-align: right;
      justify-content: right;
  
      img, video{
        width: 50%;
      }
  
  
    }
  }
  
  
  .insta{
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 90px;
  
    .swiper-slide img {
      transition: box-shadow 0.25s;
      transition-timing-function: ease-in-out;
      transform: scale(0.94);
      height: 250px;
      width: 250px;
      object-fit: cover;
      margin-right: 20px;
    }
    
    .swiper-slide {
      width: 250px !important;
      margin-right: 20px;
    }
    
    .swiper-button-next, .swiper-button-prev{
      color: white!important;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
    }
  }
  
  .about {
    margin-top: 70px;
    margin: 70px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    .left-capcat{
  
      position: relative;
    img {
      margin: auto;
      position: absolute;
      top: 30px;
      left : 30px;
      right: 30px;
      bottom: 30px;
      width: 50%;
  
    }
    .canvas-capcat{
      position: absolute;
      top: 0;
      z-index: 0;
    }
  
    }
    
  
    .description{
      padding: 50px;
    }
  }
  
  .canva{
    width: 100%;
  }
  
  
  .music{
    position: fixed;
    bottom: 0px;
    z-index: 10;
    right: 0;
    width: 100%;
    height: 80px;
  }
  
}

@media screen and (max-width: 800px) {
  .home-header{
    padding: 50px;
    position: relative;
    height: 600px;
  
    .carroussel-item{
      opacity: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 50px;
    }
  
    .active {
      opacity: 1!important;
    }
  
    .right-header{
      img{
            height:300px;
      }
      p{
        padding-right: 50px;
      }
    }
  
    .left-header{
      margin-right: 50px;
      text-align: right;
      justify-content: right;
  
      img, video{
        width: 70%;
      }
  
  
    }
  }
  
  
  .insta{
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 90px;
  
    .swiper-slide img {
      transition: box-shadow 0.25s;
      transition-timing-function: ease-in-out;
      transform: scale(0.94);
      height: 250px;
      width: 250px;
      object-fit: cover;
      margin-right: 20px;
    }
    
    .swiper-slide {
      width: 250px !important;
      margin-right: 20px;
    }
    
    .swiper-button-next, .swiper-button-prev{
      color: white!important;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
    }
  }
  
  .about {
    margin: 50px 0px 0px 0px;
    display: block;
    width: 100%;
    .left-capcat{
      position: relative;
    img {
      margin: auto;
      position: absolute;
      top: 30px;
      left : 30px;
      right: 30px;
      bottom: 30px;
      width: 50%;
  
    }
    .canvas-capcat{
      position: absolute;
      top: 0;
      z-index: 0;
    }
  
    }
    
  
    .description{
      padding: 10px;
    }
  }
  
  // .canva{
  //   width: 100%;
  // }
  
  
  .music{
    position: fixed;
    bottom: 0px;
    z-index: 10;
    right: 0;
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  .home-header{
    // position: relative;
    height: 750px;
    padding: 0px;
  
    .carroussel-item{
      opacity: 0;
      display: block;
      // grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 0px;
      padding: 10px;
    }

    .not-mobile{
      display: none;
    }
  
    .active {
      opacity: 1!important;
    }
  
    .right-header{
      img{
            width:100%;
      }
    }
  
    .left-header{
      margin-right: 0px;
      text-align: right;
      justify-content: right;
  
      img{
        width: 50%;
      }
  
  
    }
  }
  
  
  .insta{
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 90px;
  
    .swiper-slide img {
      transition: box-shadow 0.25s;
      transition-timing-function: ease-in-out;
      transform: scale(0.94);
      height: 250px;
      width: 250px;
      object-fit: cover;
      margin-right: 20px;
    }
    
    .swiper-slide {
      width: 250px !important;
      margin-right: 20px;
    }
    
    .swiper-button-next, .swiper-button-prev{
      color: white!important;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
    }
  }
  
  .about {
    margin: 50px 0px 0px 0px;
    display: block;
    width: 100%;
    .left-capcat{
      position: relative;
    img {
      margin: auto;
      position: absolute;
      top: 30px;
      left : 30px;
      right: 30px;
      bottom: 30px;
      width: 50%;
  
    }
    .canvas-capcat{
      position: absolute;
      top: 0;
      z-index: 0;
    }
  
    }
    
  
    .description{
      padding: 10px;
    }
  }
  
  // .canva{
  //   width: 100%;
  // }
  
  
  .music{
    position: fixed;
    bottom: 0px;
    z-index: 10;
    right: 0;
    width: 100%;
    height: 80px;
  }
}


// .home-header{
//   padding: 50px;
//   position: relative;
//   height: 500px;

//   .carroussel-item{
//     opacity: 0;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     position: absolute;
//     top: 50px;
//   }

//   .active {
//     opacity: 1!important;
//   }

//   .right-header{
//     img{
//           height:300px;
//     }
//   }

//   .left-header{
//     margin-right: 50px;
//     text-align: right;
//     justify-content: right;

//     img{
//       width: 50%;
//     }


//   }
// }


// .insta{
//   padding: 50px;
//   margin-top: 100px;
//   margin-bottom: 90px;

//   .swiper-slide img {
//     transition: box-shadow 0.25s;
//     transition-timing-function: ease-in-out;
//     transform: scale(0.94);
//     height: 250px;
//     width: 250px;
//     object-fit: cover;
//     margin-right: 20px;
//   }
  
//   .swiper-slide {
//     width: 250px !important;
//     margin-right: 20px;
//   }
  
//   .swiper-button-next, .swiper-button-prev{
//     color: white!important;
//     background-color: rgba(0, 0, 0, 0.3);
//     padding: 10px 20px;
//     border: none;
//     border-radius: 50px;
//   }
// }

// .about {
//   margin-top: 70px;
//   margin: 70px 0px 0px 0px;
//   // display: grid;
//   // grid-template-columns: 1fr 1fr;
//   // justify-content: space-evenly;
//   .left-capcat{

//     position: relative;
//   img {
//     margin: auto;
//     position: absolute;
//     top: 30px;
//     left : 30px;
//     right: 30px;
//     bottom: 30px;
//     width: 50%;

//   }
//   .canvas-capcat{
//     position: absolute;
//     top: 0;
//     z-index: 0;
//   }

//   }
  

//   .description{
//     padding: 50px;
//   }
// }

// .canva{
//   width: 100%;
// }


// .music{
//   position: fixed;
//   bottom: 0px;
//   z-index: 10;
//   right: 0;
//   width: 100%;
//   height: 80px;
// }


