@media screen and (min-width: 800px) {
  .log{
  padding: 50px;
  text-align: center;
  width: fit-content;
  margin: auto;
    .btn{
      background-color: white;
      border: none !important;
    }
    .field{
      margin: 15px 0px;
    }
    input{
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 800px) {
  .log{
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: auto;
    .field{
      margin: 15px 0px;
    }
    input{
      margin-top: 5px;
    }
    .btn{
      background-color: white;
      border: none !important;
    }
  }
}