<div id="contact">
  <h1>Envie de parler ?</h1>
  <p><i class="fab fa-instagram"></i> Envoie-moi un message sur mon <a href ="https://www.instagram.com/cap.cat.tdlp/" target ="blank" class="link">insta</a></p>
  <p><i class="fas fa-at"></i> Tu peux aussi me joindre par <a data-tf-popup="HsdRK5zs" class="link">mail</a></p>
</div>


<script src="//embed.typeform.com/next/embed.js"></script>